    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Basculer en navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/fr">
                <img class="brand" alt="Mu Logo" src="/img/brand.png"/>
              </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="/fr/download">Téléchargement</a></li>
                  <li><a href="/fr/about">Informations</a></li>
                  <li><a href="/fr/tutorials">Tutoriels</a></li>
                  <li><a href="/fr/howto">Comment faire...?</a></li>
                  <li><a href="/fr/discuss">Discuter</a></li>
                  <li><a href="/fr/developers">Développeurs</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Langue<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% include lang_list.html %}
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
