<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="norton-safeweb-site-verification" content="1zcsne-iemsx3stdc2wt4xq0-020puow4-uj5bjstzudqn8zu406csvp-qy2d31gces1c9lz-k-hb7cj74zh-aouf0-jmzv39rdsvb1i-z3o6e7pllxmkbkqhcw8m629" />

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="{{ ASSET_PATH }}/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Sticky Footer -->
    <link href="{{ ASSET_PATH }}/css/bs-sticky-footer.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>
      {% if page.i18n %}
        {% include nav_{{ page.i18n }}.html %}
      {% else %}
        {% include nav_en.html %}
      {% endif %}
      <div class="container">
        {{ content }}
      </div>

      <div id="footer">
        <div class="container footer">
          <p>&copy; {{ site.time | date: '%Y' }}
          <a href="http://ntoll.org/" target="_blank">Nicholas H.Tollervey</a>.
          Mu wouldn't be possible without
          <a href="/en/thanks">these people</a>.
          <span class="glyphicon glyphicon-heart" aria-hidden="true"
              style="color: #c93827;"></span>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
          This site is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons by-nc-sa 4.0 International License</a>.
          </p>
        </div>
      </div>
      <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
  </body>
</html>
